.banner {
	position: relative;
	background-size: cover;

	height: 34vh;
	width: 100vw;
	max-width: 480px;
	max-height: 800px;

	border-radius: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}
