.header {
	display: flex;
	justify-content: center;
}

.header > p {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 13px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06px;
	padding: 0 113px;
}

.groups {
	margin-top: 34px;
	width: 100%;
	height: 100%;
	display: inline-grid;
	align-items: center;
	justify-content: center;
	grid-template-areas:
		'group1 group2'
		'group3 group4';
}

.group {
	margin: 5px;
}

.group > p {
	margin-top: 5px;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}
