.cardContainer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 85vh;
}

.swipe {
	z-index: 1;
	position: fixed;
	width: 75vw;
	height: 75vh;
	max-width: 480px;
	max-height: 800px;
}

.card {
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1.5rem;
	background: linear-gradient(
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0) 25%,
		rgba(0, 0, 0, 0) 75%,
		rgba(0, 0, 0, 1) 100%
	);
}

.card > h3 {
	position: relative;
	color: white;
	font-size: 1.75rem;
	font-weight: 600;
	width: 100%;
	top: 83%;
	margin: 0 1rem 0.6rem;
}

.card > p {
	position: relative;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	width: 50%;
	top: 83%;
	left: 1rem;
	margin-bottom: 0.6rem;
}

.buttons {
	position: fixed;
	height: 15vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100vw;
	max-width: 600px;
	left: 50%;
	transform: translateX(-50%);
}

.buttons > button {
	width: 0;
	height: 0;
}

.buttons > button:nth-child(1):hover {
	background: rgba(255, 94, 81, 0.1);
}

.buttons > button:nth-child(2):hover {
	background: rgba(7, 166, 255, 0.1);
}

.buttons > button:nth-child(3):hover {
	background: rgba(0, 211, 135, 0.1);
}
