.footer {
	position: fixed;
	bottom: 10vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	height: 33px;
	max-width: 384px;
}

.footer__icon {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__icon > svg {
	font-size: 48px;
}
